/* Сброс стилей  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Ссылки */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}


body {
background-color: #1C1C1C;	
display: flex;
justify-content: center;
align-items: center;
}

header {
margin: 0 auto 158 auto;
width: 1200px;
height: 1168px;
background-image: url('img/header_bg.png');
background-repeat: no-repeat;
}

content {
position: absolute;
margin-top: 50px;
width: 1200px;
height: 1168px;
background-image: url('img/content_bg.png');
background-repeat: no-repeat;
}

.menu1 {
top: 42px;
left: 100px;
}

.menu2 {
top: 35px;
left: 538px;
}

.menu3 {
top: 42px;
right: 215px;
}

.title {
display: flex;
justify-content: center;
align-items: center;

}